<app-header-navbar></app-header-navbar>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <h3>Symptoms</h3>
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <img src="assets/images/fever.png" alt="" width="50px" height="50px"
                            style="border-radius: 50%;">&nbsp;&nbsp;
                        <span
                            style="color: purple; font-weight: 700; font-size: 120%;text-decoration: none;">Fever</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        A fever -- also known as a high fever or a high temperature -- is not by itself an illness. It's
                        usually a symptom of an underlying condition, most often an infection.
                        Fever is usually associated with physical discomfort, and most people feel better when a fever
                        is treated. <br><br>
                        But depending on your age, physical condition, and the underlying cause of your fever, you may
                        or may not
                        require medical treatment for the fever alone. Many experts believe that fever is a natural
                        bodily defense
                        against infection. There are also many non-infectious causes of fever.
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <img src="assets/images/cough.png" alt="" width="50px" height="50px"
                            style="border-radius: 50%;">&nbsp;&nbsp;
                        <span style="color: purple; font-weight: 700; font-size: 120%;">Dry Cough</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        A dry cough does not produce mucus.
                        According to the United Kingdom’s National Health Service (NHS), if a person notices they are
                        coughing a lot
                        for over an hour, or they have three or more coughing episodes in a day, they may have
                        coronavirus.
                        The most prominent symptoms of COVID-19 are fever and fatigue, and you may feel like you have a
                        cold or flu. Cough is present in about half of infected patients.

                        Considering that COVID-19 irritates lung tissue, the cough is dry and persistent. It is
                        accompanied with shortness of breath and muscle pain.

                        As disease progresses, the lung tissue is filled with fluid and you may feel even more short of
                        breath as your body struggles to get enough oxygen.
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <img src="assets/images/anxiety.png" alt="" width="50px" height="50px"
                            style="border-radius: 50%;">&nbsp;&nbsp;
                        <span style="color: purple; font-weight: 700; font-size: 120%;">Headache</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        According to the World Health Organization (WHO), the most common symptoms of COVID-19, the
                        illness caused by the new coronavirus, are fever, tiredness, and a dry cough—and some patients
                        may have aches and pains, nasal congestion, runny nose, sore throat, or diarrhea.

                        A headache isn't a common symptom of the virus, but about 14% of people infected with corna have
                        experienced it, according to the Report of the WHO-China Joint Mission on Coronavirus Disease
                        2019 (COVID-19). And as more people share their COVID-19 experiences on social media, it’s clear
                        that some of those headaches are pretty intense.
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <img src="assets/images/asthma.png" alt="" width="50px" height="50px"
                            style="border-radius: 50%;">&nbsp;&nbsp;
                        <span style="color: purple; font-weight: 700; font-size: 120%;">Breathing</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        One of the signature symptoms of COVID-19 is shortness of breath. Other common symptoms are
                        fever, cough, and fatigue.

                        Most people who get COVID-19 will experience mild to moderate symptoms that can be treated at
                        home. If you’re sick and suspect that you may have COVID-19, the Centers for Disease Control and
                        Prevention (CDC)Trusted Source recommends these next steps:

                        Stay home and separate yourself from all family members and pets as much as possible.
                        Cover your coughs and sneezes and wear a cloth mask if you must be around other people, but try
                        to stay 6 feet away at minimum.
                        Stay in touch with your doctor and call ahead if you end up seeking medical attention.
                        Wash your hands often.
                        Avoid sharing household items with other people in the house.
                        Disinfect common surfaces often.
                    </ng-template>
                </ngb-panel>

            </ngb-accordion>
        </div>
    </div>
</div>


<div class="container my-5">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12">
            <h3>Prevention</h3>
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <img src="assets/images/handwash.png" alt="" width="50px" height="50px"
                            style="border-radius: 50%;">&nbsp;&nbsp;
                        <span style="color: purple; font-weight: 700; font-size: 120%;">Wash hand often</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        Wash your hands often with soap and water or clean them with an alcohol-based sanitizer. This
                        kills viruses on your hands.
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <img src="assets/images/cover.png" alt="" width="50px" height="50px"
                            style="border-radius: 50%;">&nbsp;&nbsp;
                        <span style="color: purple; font-weight: 700; font-size: 120%;">Cover your cough</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        If you have COVID-19, you can spread it even if you don’t feel sick. Wear a cloth face covering
                        to protect others. This isn’t a replacement for social distancing. You still need to keep a
                        6-foot distance between yourself and those around you. Don’t use a face mask meant for health
                        care workers.
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <img src="assets/images/protection.png" alt="" width="50px" height="50px"
                            style="border-radius: 50%;">&nbsp;&nbsp;
                        <span style="color: purple; font-weight: 700; font-size: 120%;">Use mask</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        The CDC recommends that you wear a cloth face mask if you go out in public. This is an added
                        layer of protection for everyone, on top of social distancing efforts. You can spread the virus
                        when you talk or cough, even if you don’t know that you have it or if you aren’t showing signs
                        of infection.

                        Surgical masks and N95 masks should be reserved for health care workers and first responders,
                        the CDC says.
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <img src="assets/images/washing-dishes.png" alt="" width="50px" height="50px"
                            style="border-radius: 50%;">&nbsp;&nbsp;
                        <span style="color: purple; font-weight: 700; font-size: 120%;">Always clean</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        You can clean first with soap and water, but disinfect surfaces you touch often, like tables,
                        doorknobs, light switches, toilets, faucets, and sinks. Use a mix of household bleach and water
                        (1/3 cup bleach per gallon of water, or 4 teaspoons bleach per quart of water) or a household
                        cleaner that’s approved to treat SARS-CoV-2. You can check the Environmental Protection Agency
                        (EPA) website to see if yours made the list. Wear gloves when you clean and throw them away when
                        you’re done.
                    </ng-template>
                </ngb-panel>

            </ngb-accordion>
        </div>
    </div>
</div>
<br>
<br>
<br>