<ul class="nav nav-pills nav-justified fixed-bottom bg-white">
    <li class="nav-item">
        <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" aria-current="page" routerLink="/home" routerLinkActive="active"><i
                class="fa fa-tachometer" aria-hidden="true"></i><br><span>DASHBOARD</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/home/test" routerLinkActive="active"><i class="fa fa-users"
                aria-hidden="true"></i><br><span>TEST</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/home/faq" routerLinkActive="active"><i class="fa fa-male"
                aria-hidden="true"></i><br><span>FAQ</span></a>
    </li>
</ul>